In [1]:
data = read.csv('data/hw1_data.csv')

In [2]:
dim(data)

[1] 153   6

In [3]:
names(data)

[1] "Ozone"   "Solar.R" "Wind"    "Temp"    "Month"   "Day"

In [4]:
head(data)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [5]:
data$Ozone[47]

[1] 21

In [6]:
summary(data$Ozone)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   1.00   18.00   31.50   42.13   63.25  168.00      37

In [7]:
mean(data$Ozone, na.rm = TRUE)

[1] 42.12931

In [8]:
mean(data[which(data$Month == 6),]$Temp)

[1] 79.1

In [13]:
data[which.max(data$Temp),]$Month

[1] 8